@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Rajdhani {
    font-family: "Rajdhani";
    font-weight: normal;
}
.Squada {
    font-family: "Squada One";
    font-weight: 400;
}
.Chosun {
    font-family: "Chosunilbo_myungjo";
    font-weight: normal;
}


// @for $i from 1 through 9 {
//     $weight: $i * 100;

//     .Rajdhani#{$i} {
//         font-family: 'Rajdhani';
//         font-weight: $weight;
//     }
//     .Chosun#{$i} {
//         font-family: 'Chosunilbo_myungjo';
//         font-weight: $weight;
//     }
//     .Squada#{$i} {
//         font-family: 'Squada One';
//         font-weight: $weight;
//     }
// }